NODE_ENV=development
PORT=3000
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=http://localhost:3000
SHOPIFY_SCOPES=read_orders,read_customers,read_markets,write_pixels,read_customer_events,write_app_proxy
META_GRAPH_API_VERSION=v22.0
DEFAULT_META_PIXEL_ID=
DEFAULT_META_ACCESS_TOKEN=
